body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
}

h3 {
  text-align: center;
  color: #029d5b;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  font-size: 2.5em;
}

#textepresentation p {
  text-align: center;
  color: #1c2126;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}

#equipe p {
  color: #565e65;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1c2126;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* nav bar */

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
}

header li {
  float: right;
  font-size: 1.4em;
  padding: 20px;
  font-weight: bold;
}

header li a {
  text-decoration: none;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 15px;
}

#logo {
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  font-weight: bold;
  font-size: xx-large;
  padding: 25px;
}

/* image principale */

#imageprincipale {
  padding-top: 500px;
  background: url(resources/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg);
  height: 500px;
  background-size: cover;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: yellow;
  margin-right: 60px;
  font-size: 4.3em;
  margin-top: 10px;
}

h2 {
  text-align: right;
  color: white;
  font-family: ;
  font-size: 3.2em;
  margin-right: 60px;
  margin-top: 220px;
}

/* Presentation */

#presentation {
}
h4 {
  color: #1c2126;
  padding-top: 10px;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
}
#equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#equipe .image img {
  width: 300px;
  height: 300px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
  flex-wrap: wrap;
}

/* bandeau de satisfaction */

#satisfaction {
  background-color: #053b44;
  display: flex;
}
h6 {
  justify-content: space-between;
  text-align: center;
  color: #d5f31f;
  font-size: 2em;
  padding: 10px;
}

/* ************Services************ */

#services img {
  width: 350px;
  display: flex;
}

#services p {
  color: #1c2126;
  font-size: 2.3em;
  font-family: Arial, Helvetica, sans-serif;
}

/* *******************Contact******************** */
#Contactez-nous {
  background-color: #053b44;
  padding: 100px 0;
}

#Contactez-nous .container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Contactez-nous .container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
}

#Contactez-nous .container form input,
#Contactez-nous .container form textarea {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: 0.2s;
}

#Contactez-nous .container form textarea {
  width: 100%;
}
