body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
}

h3 {
  text-align: center;
  color: #029d5b;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  font-size: 2.5em;
}
li {
  list-style-type: none;
}

img {
  height: auto;
  width: auto;
}

a {
  text-decoration: none;
  color: #1c2126;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* nav bar */

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
}

header li {
  float: right;
  font-size: 1.2em;
  padding: 20px;
}

header li a {
  text-decoration: none;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 15px;
}

#logo {
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  font-weight: bold;
  font-size: xx-large;
  padding: 25px;
}

/* image principale */

#imageprincipale {
  padding-top: 500px;
  background: url(resources/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg);
  height: 500px;
  background-size: cover;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: yellow;
  margin-right: 60px;
  font-size: 4.3em;
  margin-top: 10px;
}

h2 {
  text-align: right;
  color: white;
  font-family: ;
  font-size: 3.2em;
  margin-right: 60px;
  margin-top: 220px;
}

/* Presentation */

#presentation {
}
h4 {
  color: #1c2126;
  padding-top: 10px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.image h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #1c2126;
}

.image h5 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
  color: #565e65;
}

.imagerectangle {
  height: 200px;
  width: 200px;
  clip-path: ellipse(50% 50%);
}

.imagecarre {
  height: 200px;
  width: 200px;
  clip-path: ellipse(50% 50%);
}

/* bandeau de satisfaction */

#satisfaction {
  background-color: #053b44;
  display: flex;
}
h6 {
  justify-content: space-between;
  text-align: center;
  color: #d5f31f;
  font-size: 2em;
  padding: 10px;
}
